.global-nav{
    margin: 0 auto;
}

.global-nav > ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
}

.global-nav > ul > li {
    display: inline-block;
}




.profile-menu > li {
    padding: 10px 0;
    font-size: 14px;
}

.profile-menu > li:hover {
    cursor: pointer;
    color: #E84148;
}

.profile-menu > li:hover > a {
    color: #b5b5b5;
}

.profile-menu > li > a {
    text-decoration: none;
}