.card{
    border-radius: 5px;
}

.actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: grid;
    grid-template-columns: repeat(2, 10px);
    grid-gap: 20px;
}

.client-actions {
    position: absolute;
    top: 15px;
    left: -70px;
    background: #ffffff;
    z-index: 9999;
    box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.client-actions > li{
    padding: 10px;
    color: #737373;
}

.client-actions > li:hover {
    cursor: pointer;
    background: #f9f9f9;
    color: #000000;
}

.client-info{
    display: block;
    margin: 10px auto;
    text-align: center;
}