.tooltip {
    position: absolute;
    display: none;
    left: -100%;
    top: 0;
    background: #393939;
    color: #ffffff;
    border-radius: 1em;
    padding: 5px 10px;
    font-size: 12px;
    z-index: 9999;
    max-width: 200px;
    min-width: 100px;
    text-align: center;
    transform: translateX(-100%);
}

i:hover + .tooltip {
    display: block;
}